<h1>New foo</h1>

<%= validated_form_for(@foo) do |f| %>
  <% if @foo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foo.errors.count, "error") %> prohibited this foo from being saved:</h2>

      <ul>
      <% @foo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :one %><br />
    <%= f.validated_select :one, [["hello", "HELLO"],["goodbye", "GOODBYE"]] %>
  </div>
  <div class="field">
    <%= f.label :two %><br />
    <%= f.validated_radio_button :two, "FOOBAR" %>
  </div>
  <div class="field">
    <%= f.label :three %><br />
    <%= f.validated_collection_select :three, [Fake.new(:text => "Dave", :value => 24), Fake.new(:text => "Alice", :value => 30)], :value, :text %>
  </div>
  <div class="field">
    <%= f.label :four %><br />
    <%= f.validated_text_area :four %>
  </div>
  <div class="field">
    <%= f.label :five %><br />
    <%= f.validated_grouped_collection_select :five, @continents, :countries, :name, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :six %><br />
    <%= f.validated_check_box :six %>
  </div>
  <div class="field">
    <%= f.label :seven %><br />
    <%= f.validated_text_field :seven %>
  </div>
  <div class="field">
    <%= f.label :eight %><br />
    <%= f.validated_password_field :eight %>
  </div>
  <div class="field">
    <%= f.label :nine %><br />
    <%= f.validated_time_zone_select :nine, ActiveSupport::TimeZone.us_zones, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :ten %><br />
    <%= f.validated_time_select :ten, :include_blank => true, :ignore_date => true %>
  </div>
  <div class="field">
    <%= f.label :eleven %><br />
    <%= f.validated_datetime_select :eleven, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :twelve %><br />
    <%= f.validated_date_select :twelve, :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', foos_path %>
